<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> {{plant.name}}</h3>
        <a href="#/viewPlantList"><button class="btn btn-default btn-primary">Back</button></a>
        <div class="showback">
            <div class="row data">
                <div class="col-sm-12 col-xs-6">
                    <h4>Type :</h4>
                    <h5>{{plant.type}}</h5>
                </div>
                <div class="col-sm-12 col-xs-6">
                    <h4>Planted Date</h4>
                    <h5>{{plant.DOB}}</h5>
                </div>
                <div class="col-sm-12 col-xs-6">
                    <h4>Days till harvest</h4>
                    <h5>{{plant.harvestDay}}</h5>
                </div>
            </div>
        </div>
    </section>
</section>