<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> {{plot.name}}</h3><a href="#/viewPlotList"><button class="btn btn-default btn-primary">Back</button></a>
        <div class="showback">
        <div class="row data">
            <div class="col-sm-6 col-xs-6 goleft">


                <h4>Description :</h4>
                <h5>{{plot.description}}</h5>
                </div>

            <div class="col-sm-6 col-xs-6 goright">
                <h4>Created date</h4>
                <h5>{{plot.DOB}}</h5>
            </div>
        </div>
        </div>
        <div class="showback col-sm-12">
            <div class="col-sm-4">
                <h3><i class="fa fa-angle-right"></i> Sensing Device List</h3>
                <!-- Table -->
                <div ng-controller="PlotWithDeviceController">
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th >SensingDevice id</th>
                        </tr>
                        <tr ng-repeat="device in devices">
                            <td>{{$index+1}}</td>
                            <td><a ng-href="#/viewDailySummary/{{device.id}}">{{device.device_id}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <h3><i class="fa fa-angle-right"></i> Plant List</h3>
                <!-- Table -->

                <div ng-controller="listPlantController">
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Date of birth</th>
                            <th>Harvest day</th>
                        </tr>
                        <tr ng-repeat="plant in plants">
                            <td>{{$index+1}}</td>
                            <td>{{plant.name}}</td>
                            <td>{{plant.type}}</td>
                            <td>{{plant.DOB}}</td>
                            <td>{{plant.harvestDay}}</td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
    </section>
</section>